{% extends 'base.html.twig' %}

{% block title %}Modificar Sector{% endblock %}

{% block body %}
    <h1>Modificar Sector</h1>

    {{ include('sector/_form.html.twig', {'button_label': 'Modificar'}) }}
{% endblock %}
